<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>hello Echo by Go</title>
	</head>
	<body>
		<form method="post" action="/form1">
			<input type="text" name="text1" value="{{.text1}}" style="font-size: 25px; margin: 2px"><br>
			<input type="text" name="text2" value="{{.text2}}" style="font-size: 25px; margin: 2px"><br>
			<input type="text" name="text3" value="{{.text3}}" style="font-size: 25px; margin: 2px"><br>
			<input type="submit" style="font-size: 25px; margin: 2px">
		</form>
	</body>
</html>
